body {
  overflow-y: scroll;
  padding-bottom: 64px;
}

.form-horizontal .form-group input[type=checkbox].form-control {
  width: 24px;
}

.space-btns .btn {
  margin-top: 4px;
  margin-bottom: 2px;
}